.li.nav-item.active::marker{
    display: none !important;
    marker: none !important;
    color: white !important;
}
.Navbar{
    color:white;

    margin-inline-end: 10px;

}

.brand{
  
    margin-inline-start: 50px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.navbar-expand-md{
    height: auto;
}
/* .navbar-collapse{
    height: auto !important;
    flex: auto;
} */
.nav-item{
    margin: 5px;
}
.search{
    width: 300px !important;
    border: 0 !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.20);
    margin-inline-end: 10px;
    
}
.in{
    border: 0 !important;
}
.in:focus{
    border: 0 !important;
    outline: none;
}
